<div appBgStyle class="content">
    <h1 appRedBackground>Counter</h1>
    <div class="button-container">
        <app-counter [counterParent]="counter"></app-counter>
        <div>
            <button class="ui red button" (click)="increment()">Increment</button>
            <button class="ui red button" (click)="decrement()">Decrement</button>
        </div>

    </div>

</div>

<!--<div *ngIf="isIncrementedClicked">The increment button was clicked</div>

<h2>Book list</h2>
<ul *ngFor="let book of bookList">
    {{book}}
</ul>-->